<!-- 
<div class="container">
    <h2 style="text-align: center; color: maroon;">Cart</h2>
    <ul>
      <li *ngFor="let item of cart.menu" class="cart-item">
        {{ item.id }}. {{ item.itemName }} - Rs.{{ item.itemPrice }}
      </li>
    </ul>
    <p style="color: maroon;">Total Price: Rs.{{ cart.totalPrice }}</p>
  
    <h3 style="color: maroon;">Add Items to Cart</h3>
    <label style="color: maroon;" for="itemIds">Item IDs (comma separated):</label>
    <input id="itemIds" [(ngModel)]="itemIdsStr" name="itemIdsStr" />
    <button (click)="addItemToCart()">Add Items to Cart</button>
  </div>
-->

  
  
  
  